<div class="container">
    <div class="hoverable row card-panel white">
        <div class="row">
            <div class="left col s7">
                <h5>Catálogo de productos</h5>
            </div>
            <div class="right col s5">
                <div class="row">
                    <div class="col s12">
                        <span>¿Que estas buscando?</span>
                    </div>
                    <div id="busqueda" class="hoverable input-field col s12">
                        <!-- <i class="material-icons prefix">search</i> -->
                        <input [formControl]="search" type="text" id="buscar" class="validate">
                        <label for="buscar">Buscar</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="divsec" class="row">
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/palta.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Palta</strong></span>
                        <p>Precio: S/. 5.30 (Kg)</p>
                        <p>Disponible: 45 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/ajo.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Ajo</strong></span>
                        <p>Precio: S/. 8.10 (Kilo)</p>
                        <p>Disponible: 45 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/almendras.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Almendras</strong></span>
                        <p>Precio: S/. 3.80 (Kilo)</p>
                        <p>Disponible: 23 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/arandanos.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Arandanos</strong></span>
                        <p>Precio: S/. 5.30 (Kilo)</p>
                        <p>Disponible: 15 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/calabaza.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Calabaza</strong></span>
                        <p>Precio: S/. 2.30 (Kilo)</p>
                        <p>Disponible: 45 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/cebolla.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Cebolla</strong></span>
                        <p>Precio: S/. 2.80 (Kilo)</p>
                        <p>Disponible: 150 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/kiwi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Kiwi</strong></span>
                        <p>Precio: S/. 4.10 (Kilo)</p>
                        <p>Disponible: 45 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/limon.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Limón</strong></span>
                        <p>Precio: S/. 3.50 (Kilo)</p>
                        <p>Disponible: 45 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/papa.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Papa</strong></span>
                        <p>Precio: S/. 1.30 (Kilo)</p>
                        <p>Disponible: 180 Kilos</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/zanahoria.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Zanahoria</strong></span>
                        <p>Precio: S/. 2.20 (Kg)</p>
                        <p>Disponible: 45 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/pasta.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Pasta</strong></span>
                        <p>Precio: S/. 4.50 (Kg)</p>
                        <p>Disponible: 103 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class=" hoverable card">
                    <div class="card-image">
                        <img src="/assets/img/canela.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text"><strong>Canela</strong></span>
                        <p>Precio: S/. 12.30 (Kg)</p>
                        <p>Disponible: 25 Kg</p>
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <a class="right-align" href="#">Ver más</a>
                            </div>
                            <div class="col s4 right-align">
                                <input class="center-align" id="nombre" type="number" class="validate" placeholder="1">
                            </div>
                            <div class="col s4 ">
                                <a class="btn" href="#"> <i class="i3 material-icons">add</i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>