<!-- Modal Trigger -->

<!-- Modal Structure -->
<div class="login i4 valign-wrapper">
    <div class="row">
        <div class="col s12">
            <div class="card i2">
                <div class="card-content white-text">
                    <h4 class="white-text">Accesos</h4>
                    <span class="white-text tex"><strong>E-mail:</strong> javierdurand@nextu.com</span><br/>
                    <span class="white-text tex"><strong>Contraseña:</strong> desarrolloweb</span><br>
                    <span class="yellow-text"> Nota: El mismo acceso aplica para Angular y React</span>
                </div>
                <div class="card-action white i3">

                    <div class="right-align">
                        <a class="btn" [routerLink]="['']">Hecho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright  valign-wrapper ">
        <div class="container">
            <div class="center-align">
                <a [routerLink]="['accesos']" class="acceso">Lista de accesos (Click Aquí)</a>
            </div>
            <div class="center-align white-text">
                © 2020 Copyright - JAVIER MOSHE DURAND ORELLANA
            </div>
        </div>
    </div>
</div>