a {
    color: green !important;
}

a:hover {
    color: red !important;
    background-color: yellow;
}

#barra1 {
    font-size: 1.3rem;
}

.card-panel:hover {
    box-shadow: 0 2px 2px 0 green, 0 3px 1px -2px green, 0 1px 15px 0 green;
}

.i1 {
    padding: 20% 20% 20% 20%;
}