<div class="container">
    <div class="hoverable row card-panel grey lighten-4 valign-wrapper">
        <div class="col s4">
            <span id="barra1" class="grey-text text-darken-2 left">La bodega</span>
        </div>
        <div class=" col s8">
            <a [routerLink]="['']" class="right" href="#"><i class=" i1 material-icons right">exit_to_app</i></a>
            <a class="right" href="#"><i class=" i1 material-icons right">archive</i></a>
            <a class="right hoverable" href="#"><i class=" i1 material-icons right">shopping_cart</i></a>
            <a class="right hoverable" href="#"><i class=" i1 material-icons right">apps</i></a>
        </div>
    </div>
</div>